# Python 
__pycache__/ 
*.py[cod] 
*$py.class 
*.so 
.Python 
env/ 
venv/ 
ENV/ 
env.bak/ 
venv.bak/ 
ECHO is on.
# Django 
*.log 
local_settings.py 
db.sqlite3 
db.sqlite3-journal 
ECHO is on.
# Static files 
staticfiles/ 
ECHO is on.
# IDE 
.vscode/ 
.idea/ 
*.swp 
*.swo 
